---
const { href } = Astro.props;
---

<a
  class="flex w-fit bg-slate-500 rounded-3xl px-4 py-2 hover:bg-slate-400 transition hover:cursor-pointer"
  target="_blank"
  href={href}
>
  <slot />

  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"
    ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
      d="M9 6l6 6l-6 6"></path></svg
  >
</a>
