---
import ButtonLink from "./ButtonLink.astro";
---

<div class="flex h-screen items-center mb:mt-10">
  <div
    class="flex flex-col-reverse justify-center w-full lg:flex-row lg:gap-10 py-20
  dark:bg-yellow-800/40"
  >
    <div class="max-w-[550px]">
      <h1 class="pb-3 text-3xl font-bold">Comming soon...</h1>
      <p class="text-xl text-pretty">
        To explore our full collection and make a purchase, visit our online
        store. With just a few clicks, you'll be able to add your favorite
        models to your cart and have them delivered to your doorstep.
      </p>
      <div class="pt-6">
        <ButtonLink>Visit online store</ButtonLink>
      </div>
    </div>
    <div class="w-80">
      <img class="" src="images/buy-platform.png" alt="" />
    </div>
  </div>
</div>
