---
import StoreIcon from "../icons/Store.astro";
---

<div class="flex flex-row items-center gap-2 ml-2">
  <StoreIcon class="size-8" />
  <h3 class="text-lg font-extrabold tracking-[-2px]">CLASSIC MODELS</h3>
</div>
